@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
h3 {
    all: unset;
}

.AccordionRoot {
    border-radius: 6px;
    width: 100%;
    background-color: #241730;
    /* box-shadow: 0 2px 10px var(--black-a4); */
}

.AccordionItem {
    overflow: hidden;
    margin-top: 3px;
    box-shadow: 0 0 0 3px #774A9E;
}

.AccordionItem:first-child {
    margin-top: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.AccordionItem:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
    position: relative;
    z-index: 1;
    /* box-shadow: 0 0 0 2px #000; */
}

.AccordionHeader {
    display: flex;
}

.AccordionTrigger {
    font-family: inherit;
    background-color: #2A1A38;
    padding: 0 20px;
    height: 45px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(30% + 0.3vw + 0.5vh);
    line-height: 1;
    color: #A991E0;
    box-shadow: 0 0 5px #000;
}

.AccordionTrigger:hover {
    /* background-color: #774A9E;
    color: #241730; */
}

.AccordionContent {
    overflow: hidden;
    font-size: calc(30% + 0.3vw + 0.5vh);
    font-weight: 400;
    color: #2A1A38;
    background-color: #774A9E;
}

.AccordionContent[data-state='open'] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContent[data-state='closed'] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
    padding: 15px 20px;
}

.AccordionChevron {
    color: #A991E0;
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state='open']>.AccordionChevron {
    transform: rotate(180deg);
}

@keyframes slideDown {
    from {
        height: 0;
    }

    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }

    to {
        height: 0;
    }
}

div.date {
    width: 15%;
    /* margin-left: 1%;
    margin-right: 2%; */

    font-weight: 700;
}

div.name {
    width: 20%;
    /* margin-left: 2%;
    margin-right: 2%; */

    font-weight: 300;
}

div.title {
    width: 45%;
    /* margin-left: 2%;
    margin-right: 2%; */
    font-weight: 300;
}

div.location {
    width: 20%;
    /* margin-left: 2%;
    margin-right: 1%; */
    text-align: right;
    padding-right: 1%;
    font-weight: 300;
}