/* reset */
button,
h3 {
  all: unset;
}

.AccordionRoot {
  border-radius: 6px;
  width: 100%;
  background-color: var(--dark);
  /* box-shadow: 0 2px 10px var(--black-a4); */
}

.AccordionItem {
  overflow: hidden;
  margin-top: 3px;
  box-shadow: 0 0 0 3px var(--interact);
}

.AccordionItem:first-child {
  margin-top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.AccordionItem:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.AccordionItem:focus-within {
  position: relative;
  z-index: 1;
  /* box-shadow: 0 0 0 2px var(--black); */
}

.AccordionHeader {
  display: flex;
}

.AccordionTrigger {
  /* all: unset; */
  /* all: unset; box-sizing: border-box; cursor: pointer; */

  font-family: inherit;
  background-color: var(--dark);
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(30% + 0.3vw + 0.5vh);
  line-height: 1;
  color: var(--light);
  box-shadow: 0 0 5px var(--black);
  
  cursor: pointer;
}



.AccordionContent {
  overflow: hidden;
  font-size: calc(30% + 0.3vw + 0.5vh);
  font-weight: 400;
  color: var(--white);
  background-color: var(--interact);
  /* padding-left: 2.5%;
  padding-right: 2.5%; */

  /* transform: translateZ(0); */
  will-change: height;
}

.AccordionContent[data-state="open"] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContent[data-state="closed"] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContentText {
  padding: 15px 20px;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.AccordionChevron {
  color: var(--light);
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionTrigger[data-state="open"] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

/* Polish: Fix inline image gaps */
img {
  display: block;
}

/* Polish: Smooth fade-in for content text */
.AccordionContentText {
  padding: 15px 20px;
  padding-left: 2.5%;
  padding-right: 2.5%;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms,
              transform 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 100ms;
}

.AccordionContent[data-state="open"] .AccordionContentText {
  opacity: 1;
  transform: translateY(0);
}

/* Updated easing for a more "responsive" feel */
.AccordionContent[data-state="open"] {
  animation: slideDown 500ms cubic-bezier(0.25, 1, 0.5, 1);
}

.AccordionContent[data-state="closed"] {
  animation: slideUp 400ms cubic-bezier(0.25, 1, 0.5, 1);
}

div.date {
  width: 25%;
  /* margin-left: 1%;
    margin-right: 2%; */

  font-weight: 600;
}

div.name {
  width: 35%;
  /* margin-left: 2%;
    margin-right: 2%; */

  font-weight: 300;
}

div.title {
  width: 40%;
  /* margin-left: 2%; */
  margin-right: 2%;
  font-weight: 300;
  text-align: right;
}

a {
  text-decoration: none;
  font-size: calc(100% + 0.1vw);
  color: var(--white);
  font-weight: normal;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  color: var(--light);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
