.footer {
    position: absolute;
    background-color: var(--interact);
    display: flex;
    /* right align */
    justify-content: right;
    align-items: center;
    padding-right: 2%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100vw;
    z-index: 1;
}

#footer p {
    font-size: calc(2px + 0.5vw + 0.5vh);
}

#footer a {
    text-decoration: none;
    font-size: calc(2px + 0.5vw + 0.5vh);
    color: var(--white);
    font-weight: normal;
    text-decoration: underline;
}

#footer a:hover {
    text-decoration: none;
    font-weight: normal;
    color: var(--dark);
}

#footer img {
    width: calc(30px + 2vw + 2vh);

}