:root {
    --dark: #2A1A38;
    --light: #A991E0;
    --light2: #937FC3;
    --interact: #774A9E;
    --black: #000000;
    --white: #FFFFFF;

    --invert: 0%;
}

[data-theme="light"] {
    --dark: #FBEBFB;
    --light: #8145B5;
    --light2: #D1AFEC;
    --interact: #EAD5F9;
    --black: #FEFCFE;
    --white: #53195D;

    --invert: 100%;
}