:root {
    --dark: #2A1A38;
    --light: #A991E0;
    --light2: #937FC3;
    --interact: #774A9E;
    --black: #000000;
    --white: #FFFFFF;


    /* --dark: #D6CBE5;
    --light: #5E4A8A;
    --light2: #6E5B9E;
    --interact: #9B85C1;
    --black: #FFF;
    --white: #1E1E1E; */
}