:root {
  --dark: #2a1a38;
  --light: #c4b0f0;
  --light2: #b5a0dc;
  --interact: #774a9e;
  --black: #000000;
  --white: #ffffff;

  --invert: 0%;
}

[data-theme="light"] {
  --dark: #fbebfb;
  --light: #8145b5;
  --light2: #d1afec;
  --interact: #ead5f9;
  --black: #fefcfe;
  --white: #53195d;

  --invert: 100%;
}
