@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&family=Rubik:wght@300;500;700&display=swap');

body {
  position: relative;
  margin: 0;
  background: var(--dark);
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-weight: bold;
  color: var(--light);
  font-size: calc(100% + 7vw);
  margin: 0 8% 16px;
  text-transform: uppercase;
  text-shadow: -0.2vw 0.2vw 0px var(--dark),
    -0.4vw 0.4vw 0px var(--white),
    -0.6vw 0.6vw 0px var(--interact);
}

h2 {
  color: var(--light);
  font-weight: bold;
  font-size: calc(100% + 3vw);
  margin: 0 5% 8px;

  text-transform: uppercase;
  text-shadow:
    -0.4vw 0px 0px var(--interact);
}

h2.linkHead {
  color: var(--dark);
  font-weight: bold;
  font-size: calc(100% + 1.5vw);
  text-align: center;

  text-transform: uppercase;
  text-shadow:
    -0.2vw 0px 0px var(--interact);
}

h3 {
  color: var(--dark);
  font-weight: lighter;
  font-size: calc(100% + 1vw);
  /* font-size: 2000px; */
  margin: 0 0 8px;
}

h3.heads {
  color: var(--dark);
  font-size: calc(100% + 1vw);
  margin: 0 0 8px;
}

p {
  color: var(--white);
  font-weight: 300;
  line-height: 140%;
  font-size: calc(80% + 0.3vw);
  margin: 0 0 0;
}

p.home {
  color: var(--white);
  font-weight: 300;
  line-height: 140%;
  font-size: calc(100% + 0.3vw);
  margin: 0 0 0;
}

p.links {
  color: var(--black);
  font-weight: 300;
  line-height: 140%;
  font-size: calc(80% + 0.3vw);
  margin: 0 0 0;

}

#darkTxt p {
  color: var(--dark);
  font-weight: 300;

}

a {
  text-decoration: none;
  font-size: calc(100% + 0.3vw);
  color: var(--dark);
  font-weight: normal;
  text-decoration: underline;
}

a.links {
  text-decoration: none;
  font-size: calc(80% + 0.3vw);
  color: var(--dark);
  font-weight: normal;
  text-decoration: underline;
}

a:hover,
a.links:hover {
  text-decoration: none;
  color: var(--white);
}

img {}

#icon img {
  filter: invert(var(--invert));
}

#border img {
  border: solid 5px var(--interact);
  overflow: 'hidden';
  border-radius: 40px;
}

#logo img {
  border: solid 5px transparent;
  overflow: 'hidden';
  border-radius: 40px;
}

.main {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btm30 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 5%;
}

.homeBtn {
  color: var(--white);
  background-color: var(--light2);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  text-align: center;
}

.homeBtn:hover {
  color: var(--light2);
  background-color: var(--white);
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 15%; */
  /* padding-left: 10%;
  padding-right: 10%; */
  height: 100px;
}

.abtBtn {
  color: var(--white);
  background-color: var(--interact);
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  text-align: center;
}

.abtBtn:hover {
  color: var(--interact);
  background-color: var(--white);
}

.loginBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-size: calc(80% + 0.3vw);
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 40%;

  text-transform: uppercase;
  font-weight: 700;
  color: var(--white);
  background-color: var(--dark);
  border-color: var(--white);
  border-style: solid;
  border-width: 2px;
  box-shadow: -0.2vw 0.2vw 0px var(--white);
}

.loginBtn:hover {
  color: var(--white);
  background-color: var(--interact);
  box-shadow: none;
}

.justify-start {
  margin-right: auto;
}

div.whiteBg {
  background: var(--white);
  width: 100%;
}

div.blackBg {
  background: var(--black);
  width: 100%;
}

div.lightBg {
  background-color: var(--light);
}

div.lightContainer {
  background: var(--light);
  width: 80%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  box-shadow: -0.4vw 0px 0px var(--interact);
}

div.parent {
  /* background: #000; */
  width: 100%;
  display: flex;
  align-items: center;
}

.child {
  display: flex;
  vertical-align: middle;
  width: auto;
  padding-left: 1%;
  padding-right: 1%;
}

.filler {
  flex: 1;
  background: var(--interact);
  border-radius: 50px;
  height: 5%;
}

div.center {
  justify-content: center;
}

div.loginSection {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
}

.Input {
  width: 40%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-size: calc(80% + 0.3vw);
  color: var(--interact);
  background-color: var(--white);
  border-color: var(--interact);
  border-style: solid;
  border-width: 2px;
  box-shadow: -0.2vw 0.2vw 0px var(--interact);

  padding: 0 10px;
  height: 35px;
  line-height: 1;

  text-align: center;
}

.Input:hover {
  box-shadow: none;
}

iframe {
  zoom: auto;
  width: 100%;
  height: 60vh;
}

#page-container {
  min-height: 88vh;
}

@media (min-width: 768px) {

  .col-sm-3half,
  .col-sm-8half {
    float: left;
  }

  .col-md-3half {
    width: 29.16666667%;
  }

  .col-md-8half {
    width: 70.83333333%;
  }
}